body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgb(255, 111, 97);
    padding: 10px;
    gap: 10px;
    border-radius: 25px;
}

.display {
    border: 1px solid black;
    padding: 5px;
    text-align: right;
    width: 380px;
    height: 30px;
    border-radius: 10px;
    font-size: 30px;
    background-color: white;
}

.keys {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.keys > div {
    display: flex;
    flex: 1 1;
}

button {
    flex: 1 1;
}